
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/cosmoCAMB.cpython-37.pyc
py/__pycache__/get_npd_p1d.cpython-37.pyc
py/__pycache__/lya_biases.cpython-37.pyc
py/__pycache__/theoryLya.cpython-37.pyc
.DS_Store
output/.DS_Store
