
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/cosmoCAMB.cpython-37.pyc
py/__pycache__/get_npd_p1d.cpython-37.pyc
py/__pycache__/lya_biases.cpython-37.pyc
py/__pycache__/theoryLya.cpython-37.pyc
.DS_Store
output/.DS_Store
py/__pycache__/arinyo2015.cpython-37.pyc
py/__pycache__/cosmoCAMB.cpython-37.pyc
py/__pycache__/get_npd_p1d.cpython-37.pyc
py/__pycache__/lya_biases.cpython-37.pyc
py/__pycache__/theoryLya.cpython-37.pyc
py/run18.h5
*.h5
py/get_Walks_3param_temp.py
py/Fischer.py
*.dat
*.pdf
*.pdf
*.pdf
*.pdf
*.dat
output/run120/walk4.dat
*.dat
*.dat
output/run120/walk0.dat
output/run120/walk1.dat
output/run120/walk10.dat
output/run120/walk11.dat
output/run120/walk12.dat
output/run120/walk13.dat
output/run120/walk2.dat
output/run120/walk3.dat
output/run120/walk5.dat
output/run120/walk4.dat
output/run120/walk6.dat
output/run120/walk7.dat
output/run120/walk8.dat
output/run120/walk9.dat
output/run120/WalkerPathsav.pdf
output/run120/WalkerPathskp.pdf
output/run120/WalkerPathskvav.pdf
output/run121/logprob.dat
output/run123/corner.dat
output/run123/triangle_err50posFSmtT.pdf
output/run123/SamplePaths_err50posSMmtF.pdf
output/run123/WalkerPathsav.pdf
output/run123/WalkerPathsbv.pdf
output/run123/WalkerPathskvav.pdf
output/run36/SamplePaths_err50posSMmtF.pdf
output/run91/SamplePaths_err50posSMmtF.pdf
output/run91/triangle_err50posFSmtT.pdf
output/run91/z24WalkerPathsq1_err50.pdf
output/run91/z24WalkerPathsq2_err50.pdf
output/run93/SamplePaths_err50posSMmtF.pdf
output/run93/triangle_err50posFSmtT.pdf
output/run93/z24WalkerPathsq1_err50.pdf
output/run93/z24WalkerPathsq2_err50.pdf
output/run94/SamplePaths_err50posSMmtF.pdf
output/run94/triangle_err50posFSmtT.pdf
output/run94/z24WalkerPathsav_err50.pdf
output/run94/z24WalkerPathsq1_err50.pdf
output/run94/z24WalkerPathsq2_err50.pdf
output/run95/SamplePaths_err50posSMmtF.pdf
output/run95/triangle_err50posFSmtT.pdf
output/run95/z24WalkerPathsav_err50.pdf
output/run95/z24WalkerPathsq1_err50.pdf
output/run95/z24WalkerPathsq2_err50.pdf
